/node_modules
/dist
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/.vscode
.DS_Store
*.log
*.tsbuildinfo
coverage
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz